body {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
  }

h1 {
    margin: 0;
    padding: 20px 0;
    color: black;
    text-align: center;
  }

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top;
}

.center {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image iframe, .image img {
    width: 60%; 
    height: auto;
    border: 1px solid black;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.text {
    width: 35%;
    font-size: 16px;
    line-height: 1.6;
    margin-left: 20px;
}
